title {
}

body {
    background: #999999;
}

ul li {
    list-style-type: none;
    font-size: 30;
}

ul li input {
    padding: 5px;
    border-radius: 5px;
}

.button {
    padding: 0,2px;
    border-radius: 5px;
    font-size: 18;
    background-color: #96DBF2;
}

h1 {

}


