title {
}

body {
    background: #222222;
    font-family:"Trebuchet MS", Helvetica, sans-serif;

}

.home {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('/static/back.jpg');
}

.bottom {
    position:fixed;
    bottom:10%;
    left:44%;
}

.box {
    width:100px;
    border-radius:2px;
}

.right {
    color:white;
    position:fixed;
    bottom:3%;
    left: 79%;
}

.left {
    color:white;
    position:fixed;
    bottom:4%;
    right:81%;
}

.error1{
    position:fixed;
    bottom: 1%;
    right: 80%;
}

.error2{
    position:fixed;
    bottom: 0;
    left: 82%;
}

.success{
    position:fixed;
    bottom: 0;
    left: 82%;
}

ul li {
    list-style-type: none;
    font-size: 30;
}

ul li input {
    padding: 5px;
    border-radius: 5px;
}

.button {
    padding: 0,2px;
    border-radius: 5px;
    font-size: 18;
    background-color: #96DBF2;
}

/* stylize the nav buttons */
button {

}

a {
    text-decoration:none;
}

