<html>
    <head>
        <link rel="stylesheet" type="text/css"href="/static/style.css">
        <title>About</title>
    </head>
    <body>
        <center>
            <h1>
                Who Are We?
            </h1>
            <table>
                <tr>
                    <th>Leader</th>
                    <th>UX</th>
                    <th>Middleware</th>
                    <th>Backend</th>
                </tr>
                <tr> 
                    <td><image href="/static/boying.jpg"></td>
                    <td><image href="/static/boying.jpg"></td>
                    <td><image href="/static/boying.jpg"> </td>
                    <td><image href="/static/boying.jpg"> </td>
                </tr>
                <tr> 
                    <td> Boying </td>
                    <td> Chris </td>
                    <td> Javis </td>
                    <td> Jion </td>
                </tr>
            </table>
        </center>
    </body>
</html>
