<!DOCTYPE>
<html>
    <header>
        <title>Home</title>
    	<link rel="stylesheet" type="text/css" href="/static/style.css">
    </header>
    <body>
    	{% if not 'n' in session %}
            <nav>
                <a href='/login'>Login</a>
            </nav>
        {% else %}
            <nav>
                <a href='/newStory'>Submit New Story</a>
                <a href='/stories'>All Stories</a>
                <a href='/logout'>Logout</a>
		Hello {{session['n']}}
            </nav>
    	<center>
    		<h1>Welcome</h1>
  		{% endif %}
  	</center>
    </body>
</html> 
