<!DOCTYPE>
<html>
    <header>
    <title>Login</title>
    	<link rel="stylesheet" type="text/css" href="/static/style.css">
    	<title>Login</title>
    </header>
    <body>
    <center>
        <h1> Login </h1>
        {% if error %}
        	<h2> {{error}} </h2>
        {% endif %}
        <form method="POST">
        	<ul>
        		<li>Username: <input type="text" name="username"></li>
        		<li>Password: <input type="text" name="password"></li>
                <br>
        		<li><input type="submit" class="button" name="button" value="Login"></li>
        		<li><input type="submit" class="button "name="button" value="Cancel"></li>
        	</ul>
        </form>
	<br>
	<br>
	<h3> New User </h3>
	<form method="POST">
	  <ul>
	    <li>New Username: <input type="text" name="newUser"></li>
	    <li>New Password: <input type="text" name="newPass"></li>
	  <br>
	    <li><input type="submit" class="button" name="button" value="create"></li>
	  </ul>
	</form>
						      
	</center>
    </body>
</html> 
