<!DOCTYPE>
<html>
    <head>
        <title>Password Change</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body class="center">
      <center>
      <form method="POST">
	Old Password:<input id="inputspace3" type="password" name="oldPass" class="box"><br>
        New Password:<input id="inputspace" type="password" name="newPass" class="box"><br>
        Confirm New Password:<input id="inputspace2" type="password" name="newPassC" class="box"><br><br>
	<input  type="submit" name="button" value="Change Password">
	<input  type="submit" name="button" value="Back">
      </form>
      {% if error %}
      <p><font color="red">{{error}}</font></p>
      {% endif %}
      {% if success %}
      <p><font color="green">{{success}}</font></p>
      {% endif %}
    </body>
</html>
