<!DOCTYPE html>
<html>
    <header>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css"
    </header>
    <nav> 
      <center>
	<button onclick="location.href='/'" class="navbar">Home</button>
        <button onclick="location.href='/newStory'" class="navbar">Submit New Story</button>
        <button onclick="location.href='/stories'" class="navbar">All Stories </button>
        <button onclick="location.href='/logout'" class="navbar">Logout</button>
      </center>
    </nav>
    <body>
        <center>
            <div class='stories'>
                <h1> {{title}} </h1>
                <h2> {{line}} </h2>
                <form method="POST" class="bottom">
	                <input type="text" name="newLine" maxlength="100"> 
                    <br>
                    <input type="submit" name="button" value="Add to Story">
                </form>
            </div>
        </center>
    </body>
</html>
