<!DOCTYPE>
<html>
    <head>
        <title>Stories</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        {% if 'n' in session %}
        <nav>
            <a href="/home">Home</a>
            <a href="/newStory">Submit New Story</a>
            <a href="/logout">Logout</a>
        </nav>
        <center>
            <h1><b>All Stories</b></h1>
	    {{link}}
        </center>
        {% else %}
        <nav>
            <a href="/login">Login</a>
        </nav>
        <center>
            You must be logged in to view stories
        </center>
        {% endif %}
    </body>
</html>
