<!DOCTYPE html>
<html>
    <header>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css"
    </header>
    <nav> 
            <a href='/home'>Home</a>
            <a href='/stories'>View All Stories</a>
            <a href='/logout'>Logout</a>
    </nav>
    <body>
        <center>
            <font color="white">
            <h1> {{title}} </h1>
            <h2> {{line}} </h2>
            <form method="POST" class="bottom">
                <input type="text" name="newLine">
                <br>
                <input type="submit" name="button" value="Add to Story">
            </form>
        </center>
    </body>
</html>
